
 /*  for ipad */
@media screen and  (min-width:768px) and  (max-width: 1022px) {

   /* CERTIFICATE */
  .onehalfrow {
    position: relative;
    left: 15%;
    top: 30%;
    text-align: center;
   }

   .duklamedaile {
    position: relative;
    width: 50%;
    left: -23px!important;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
   }

   .certificateImage {
     position: relative;
    width: 500px!important;
  }

  .linkFastScore {
    position: relative;
    border: 1px solid rgb(4, 4, 165);
    border-radius: 6px;
    padding: 6px;
    color: rgb(5, 5, 136);
  }

  /* GLASSES AWARDS  */

  .alaskaAwards {
    position: relative;
    width: 70%;
    left: 15%;
    top: 30%;
    padding: 20px;
    text-align: center;
  }

  .firstTeam, .sportmanShip, .performance {
    width: 7%;
  }

  .glassAwardsAlaska {
    position: relative;
    left: -50px;
  }

  


   /*   BOOBLE HEAD */
   .thirdrow {
    position: relative;
    display: flex;
    top: 30%;
    text-align: center;
  }

  .BOOBLEHEAD {
    width: 160px;
  }

  .fun-fact {
    position: relative;
    width: 120px;
  }
  
  /* DRESSY */
  .paneldresu {
    position: relative;
    width: 12rem;
    height: 12rem;
    margin: 30px;
    left:90px;
  }
  

   /* MODAL ***** ****************************/
 
    /* show stats and img */
.modal {
  position: fixed;
  width: 80%!important;
  height: 30%!important;
  top: 150px;
  left: 10%!important;
  display: flex;
  background-color: rgb(202, 202, 223);
  z-index: 99999;
  /* border: 2px solid blue; */
  border-radius: 18px;
  overflow: hidden;
  visibility: hidden;
}

.textbox {
  position: relative;
  width: 50%;
  left: -60px;
  font-size: 12px;
  text-align: center;
}

.pictbox {
  position: relative;
  width: 30%!important;
  left: -50px;
}

.closebtn {
  position: fixed;
  left: 83% !important;
  font-size: 2rem;
}

/* PICTURES IN MODAL ******  */

/*   LM, ZLIN, BRIDG, KOMETS */
.ImgModal2 {
  width: 300px!important;
}

.zaImg, .alaskaImg {
  width: 150px;
}

.ZV, .abbotsImg, .StockImg {
  width: 350px!important;
}

/*  SD, TULSA, RAPD, ORLD, UTAH, SHARK, SF, TN, PN, DUBN */
.ImgModal {
  width: 300px!important;
  left: -20px;
 }
}


/* ******* FOR  IPHONE X AND MORE  ********* */
@media screen and (min-width: 320px) and (max-width: 767px) {

  .TnMajster {
    width: 280px!important;
    left: -20px;
  }

  .AKcup{
    width: 280px!important;
    left: -20px;
  }

  .panelindividawards {
    position: relative;
    top: -140px;
  }

  .IndividualTitle{
    position: relative;
    top: 100px;
  }

  .duklamedaile {
    position: relative;
    width: 70%;
    top: 60px;
    left: -25px!important;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
   }

  .onehalfrow {
    position: relative;
    top: -100px!important;
  }

  .certificateImage {
    width: 270px!important;
    position: relative;
    left: -15px;
  }

  .secondrow {
    position: relative;
    top: -100px;
  }

  .glassAwards {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-evenly;
  }

  /* BLUE PERFORMACE AWARD */
  .flagperformance{
    position: relative;
    width: 200px!important;
    left: -17px;
    margin: 0 auto;
  }

  .perforBlueAward {
    width: 100%!important;
  }

  .thirdrow {
    position: relative;
    width: 250px!important;
    display: flex;
    flex-direction: column;
    top: -180px!important;
    text-align: center;
  }

  .alaskaAwards {
    position: relative;
    width: 290px!important;
    
    top: 25%;
    text-align: center;
    justify-content: center ;
  }

  .firstTeam, .sportmanShip, .performance {
    width: 230px!important;
  }

  .bubble-head, .bubble-stats, .fun-fuct {
     width: 250px!important;
  }

  .ha3 {
    position: relative;
    top: -500px;
  }

  .panel {
    position: relative;
    top: -500px;
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    left: 5%;
    justify-content: center;
  }

  .modal {
    position: fixed;
    width: 85%!important;
    height: 430px!important;
    top: 150px;
    left: 7.5%!important;
    display: flex;
    flex-direction: column;
    background-color: white!important;
    z-index: 99999;
    /* border: 1px solid blue; */
    border-radius: 18px;
    overflow: hidden!important;
    visibility: hidden;
    z-index: 5;
  }

  .bgmodal {
    position: fixed;
    top: 145px;
  
    width: 290px!important;
    height: 430px!important;
    background-image: url('../hokejfoto/modalBG.png');
    background-size: cover;
    background-position: center;
    opacity: .05;
    z-index: 1; 
  }

  .closebtn {
    position: fixed;
    left: 82%!important;
    font-size: 2rem;
    z-index: 8;
  }

  .textbox {
    position: relative;
    width: 350px!important;
    font-size: 11px;
    left: -75px;
    top: -30px;
    opacity: 2;
    /* align-items: center;
    text-align: center; */
  }
  
  .pictbox {
    position: relative;
    left: 90px;
    top: -90px;
  }
 
  /*   LM, ZLIN, BRIDG, KOMETS */
  .ImgModal2 {
    width: 200px!important;
    align-items: center;
    position: relative;
    top: 30px;
    left: -40px;
  }

  .zaImg, .alaskaImg {
    width: 250px!important;
    left: -40px!important;
    position: relative;
    /* top: 5px; */
  }
  
  .ZV, .abbotsImg, .StockImg {
    width: 250px!important;
    position: relative;
    top: 30px;
    left: -40px;
  }

  /*  SD, TULSA, RAPD, ORLD, UTAH, SHARK, SF, TN, PN, DUBN */
  .ImgModal {
    width: 250px!important;
    left: -40px;
    position: relative;
    top: 50px;
   }

   .dots {
     visibility: hidden;
   }
}

